name: Maven CI

on:
  pull_request:
    branches:
      - main

jobs:
  build-app:
    runs-on: ubuntu-latest

    container:
      image: maven:3.9.10-eclipse-temurin-21

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make mvnw executable
        run: chmod +x ./mvnw

      - name: Build with Maven Wrapper
        run: ./mvnw -B -Dspring-boot.repackage.skip=true clean package


      - name: Upload JAR artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vuln
          path: ./target/*.jar
